/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body, html{
    margin: 0;
    padding: 0;
}

.active{
    background-color: blue;
}

.link{
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}

.link-secondary{
    color: grey;
}

.link-underline{
    text-decoration: underline;
}
