<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img src="logo/png/logo-white-no-background.png" alt="Logo" width="100" class="d-inline-block align-text-top">
      </a>
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" d-flex id="navbarNav">
        <ul class="navbar-nav flex-fill">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="activeLink">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="services" routerLinkActive="activeLink">Servicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="activeLink" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacts" routerLinkActive="activeLink" href="#">Contactos</a>
          </li>
        </ul>
        <button class="btn btn-sm text-white btn-outline-secondary" routerLink="login" routerLinkActive="btn-secondary">Login</button>
      </div>
    </div>
  </nav>