<section class="d-flex flex align-items-center" id="hero">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="container-fluid bsb-hero-6 bsb-overlay text-white">
            <div class="row justify-content-center align-items-center p-5" id="hero-description">
              <div class="col-md-11 col-xl-10">
                <h2 class="display-1 text-center text-md-start text-shadow-head fw-bold mb-4">karapinha XPTO</h2>
                <div class="lead text-center text-md-start text-shadow-body mb-5 d-flex justify-content-sm-center justify-content-md-start">
                    <p class="col-12 col-sm-10 col-md-8 col-xxl-7">Descubra o verdadeiro significado do cuidado com a barba e cabelo 
                        em um ambiente acolhedor e sofisticado, combinando tradição e modernidade.
                    </p>
                </div>
                <div class="d-grid gap-2 justify-content-sm-center justify-content-md-start">
                  <a routerLink="/index/services" class="btn btn-sm btn-outline-light">Ver Serviços</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>