<div class="container d-flex flex-row justify-content-center align-items-center" id="login">
    <form action="" class="needs-validation border border-dark rounded p-2">
        <div>
            <label for="" class="form-label">Nome de utilizador</label>
            <input type="text" class="form-control">
        </div>

        <div>
            <label for="" class="form-label">Palavra-Passe</label>
            <input type="password" name="" id="" class="form-control">
        </div>
        <div class="text-end link link-secondary">
            <span>Esqueceu-se da Palavra-Passe?</span>
        </div> 
        <div class="mt-3 text-center">
            <button class="btn btn-dark">Entrar</button>
        </div>
    </form>
</div>